/* Master styles */
* {
  box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0px; 
	margin-bottom: 59px;
	background-color: white; /* #f0f8ff; */
}

h1 {
	color: black;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
	padding-left: 300px;
	padding-right: 300px;
}

@media only screen and (max-width: 1500px) {  /* to make mobile friendly don't pad */
   .nav-wrapper {
      padding-left: 0;
      padding-right: 0;
   }
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	text-transform: uppercase;
}


.nav-link-wrapper {
	height: 22px;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0s;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0s;
}

.nav-link-wrapper:hover {
	border-bottom: 3px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.active-nav-link {
	border-bottom: 3px solid black;
}

.active-nav-link a {
	color: black !important;
	font-weight: bold;

}

.brand:hover {
	color: #6b00b9;
}

/* emoji */
.emoji {
  font-size: 1.5rem;
  transform: scale(.5);
  text-shadow: 0 2px 4px rgba(0,0,0,.3);
  transition: 
    text-shadow .2s ease-in-out,
    transform .2s ease-in-out;
}

.emoji:hover {
  transform: scale(1) translatey(-20px);
  text-shadow: 0 10px 10px rgba(0,0,0,.3);
}

.emoji--home:before {  /* Home */
  content: '🙂';
}

.emoji--home:hover:before {
  content: '😄';
}

.emoji--research:before {  /* Research */
  content: '🙂';
}

.emoji--research:hover:before {
  content: '🧐';
}

.emoji--cv:before {  /* CV */
  content: '🙂';
}

.emoji--cv:hover:before {
  content: '🤗';
}
 
.emoji--personal:before {  /* Personal */
  content: '🙂';
}

.emoji--personal:hover:before {
  content: '😊';
}



/* Portfolio styles */
.content-wrapper {
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 0px;
	text-align: left;
}

@media only screen and (max-width: 1500px) {  /* to make mobile friendly don't pad */
   .content-wrapper {
      padding-left: 0;
      padding-right: 0;
   }
}


/* About page */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-image-wrapper img {
	height:250px;
  	border-radius: 8px;
}

.profile-image-wrapper h1, p, .map, .icons {
	text-align: center;
}

.icons {
 	padding-top: 10px;
 	font-size: 40px;
 	color: black;
 	text-align: center;
 }

.icons a {
	color: #070808; /*#53b5ed; /*#9e6bc9;*/
	text-decoration: none;  /* no underline under links */
}


/* content */
.profile-content-wrapper {
	padding: 0px;
	font-size: 14pt;
	margin: 10px;
	text-align: left;
}

.profile-content-wrapper h1 {
	color: black;
    padding: 0px;
    margin: 0px;

}

.profile-content-wrapper p {
	text-align: left;
}

/* links */
.profile-content-wrapper a {
	color:#33A2FF;
	text-decoration: none;  /* no underline under links */
	text-align: left;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: green;
}

li {
   margin:10px 0;   
}

/* read more button */
#more {display: none;}

#myBtn {
background-color: #33A2FF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

#myBtn:hover {opacity: 1}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;/*#4169e1;*/
  color: black;/*white;*/
  text-align: center;
 }
